h1 {
    text-align: end;
}

p {
    text-align: justify ;
}

#header-2 {
    color: gray;
}

.mark1 {
    background-color: yellow;
}

.mark2 {
    background-color: lightgreen;
}

h2 {
    color: red;
}

div h2 { /* This will select all h2 elements that are inside a div element placed after h2 outside the div */
    color: blue;
}

div ul li { /* This will select all li elements that are inside a ul element, which is inside a div element */
    color: orange;
}

div ul li a { /* This will select all a elements that are inside an li element, which is inside a ul element, which is inside a div element */
    color: green;
}

.section1  p{
    background-color: lightblue;
}

.section2  p{
    background-color: lightcoral;
}   

.section3 > h3{
    background-color: lightyellow;
}   

input[type="text"] {
    border: 2px solid black;
    padding: 5px;
    color: darkblue;
}

button:hover {
    background-color: blue;
    cursor: pointer;
}

p:nth-last-child(2) {
    color: purple;
} /* This will select the second-to-last p element in its parent container and apply the specified styles to it. */


h3::first-letter {
    font-size: 2em;
    color: darkred;
} /* This will select the first letter of all h3 elements and apply the specified styles to it. */

.box {
    /* content area */
    background-color: lightblue;

    /* padding = jarak antara content dan border */
    padding: 10px 20px 10px 20px;

    /* border = garis pembatas */
    border: 10px 30px solid blue;

    /* margin = jarak antar element */
    margin: 40px;

    width: 200px;
}